#body {
  background: #F0F1F2;
}

.draw-button {
  width: 100%;
  display: block;
}

#canvas {
  display: flex;
  align-items: center;
}

#canvas canvas {
  background: #FFFFFF;
  border: 2px solid #C9C9C9;
  box-sizing: border-box;
  border-radius: 4px;
  margin: auto;
}

.colorButton {
  width: 40px;
  margin-right: 10px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  opacity: 0.25;
}

#blue {
  background-color: rgb(0, 0, 255);
}

#red {
  background-color: rgb(255, 0, 0);
}

#green {
  background-color: rgb(0, 255, 0);
}

#cyan {
  background-color: rgb(0, 255, 255);
}

#magenta {
  background-color: rgb(255, 0, 255);
}

#yellow {
  background-color: rgb(255, 255, 0);
}

#black {
  background-color: rgb(0, 0, 0);
}


#grey {
  background-color: rgb(127, 127, 127);
}


#white {
  background-color: rgb(255, 255, 255);
}

.active {
  opacity: 1;
}

.hide {
  opacity: 0;
}

#title {
  margin-top: 30px;
  margin-bottom: 20px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #615D5D;
}

.name-label {
  font-family: Rubik !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #615D5D;
}

.name {
  font-family: Nunito !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  color: #303030;
  cursor: pointer;

}

#user_name span {
  margin-right: 10px;
}

#user_name:hover {
  background-color: white;
}

#clearButtonDiv {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#clearButtonDiv button {
  background: #F9A7A7;
  border: none;

  width: 100%;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;

  padding: 5px 55px 5px 55px;
}

#playerCol {
  height: 600px;
}

#aiCol {
  height: 600px;
}

#aiCol #octo {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 50%;
  height: 50%;
}

#octo img {
  position: relative;
}

#octo .agent-selection {
  position: relative;
  width: 100%;
}

#pencil {
  margin-top: 60px;
  width: 100%;
}

#pencil-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;

  margin-top: 40px;

  opacity: 0.7;
}

canvas {
  cursor: not-allowed;
}

#dialogue {
  background: #FFFFFF;
  width: 100%;
  /* border: 1px solid #5B5B5B; */
  box-sizing: border-box;
  /* box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.12), 0px 0px 16px rgba(0, 0, 0, 0.06); */
  padding: 10px 10px 10px 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  margin-bottom: 50px;
}

#bubble {
  display: none;
  position: relative;
  width: 100%;
  min-height: 30px;
  margin-top: 20px;
}

.prev {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}


.next {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.agent-selection-div {
  margin-top: 10px;
  position: relative;
  width: 200%;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  color: #303030;
}

.agent-selection {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid #fff;
  border-left: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}