#body {
  background: #F0F1F2;
}

.draw-button {
  width: 100%;
  display: block;
}

#canvas {
  display: flex;
  align-items: center;
}

#canvas canvas {
  background: #FFFFFF;
  border: 2px solid #C9C9C9;
  box-sizing: border-box;
  border-radius: 4px;
  margin: auto;
}

.colorButton {
  width: 40px;
  margin-right: 10px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  opacity: 0.25;
}

#blue {
  background-color: rgb(0, 0, 255);
}

#red {
  background-color: rgb(255, 0, 0);
}

#green {
  background-color: rgb(0, 255, 0);
}

#cyan {
  background-color: rgb(0, 255, 255);
}

#magenta {
  background-color: rgb(255, 0, 255);
}

#yellow {
  background-color: rgb(255, 255, 0);
}

#black {
  background-color: rgb(0, 0, 0);
}


#grey {
  background-color: rgb(127, 127, 127);
}


#white {
  background-color: rgb(255, 255, 255);
}

.active {
  opacity: 1;
}

.hide {
  opacity: 0;
}

h1 {
  text-align: center;

  font-family: 'Rubik' !important;
  font-style: bold;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #615D5D;
}

h2 {
  font-family: Rubik !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #615D5D;
}

h3 {
  font-family: Nunito !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  color: #303030;
}

#clearButtonDiv {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#clearButtonDiv button {
  background: #F9A7A7;
  border: none;

  width: 100%;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;

  padding: 5px 55px 5px 55px;
}

#playerCol {
  height: 600px;
}

#aiCol {
  height: 600px;
}

#aiCol #octo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
}

#pencil {
  width: 100%;
}

#pencil-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;

  margin-top: 40px;

  opacity: 0.7;
}

canvas {
  cursor: not-allowed;
}

#dialogue {
  background: #FFFFFF;
  width: 100%;
  /* border: 1px solid #5B5B5B; */
  box-sizing: border-box;
  /* box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.12), 0px 0px 16px rgba(0, 0, 0, 0.06); */
  padding: 10px 10px 10px 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  margin-bottom: 50px;
}

#bubble {
  position: relative;
  width: 100%;
  margin-top: 20px;
}